Package: com.libretro.gpsp
Name: gpSP
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Libretro iOS core of gpSP
Maintainer: libretro
Author: libretro
Section: System
Tag: role::developer
