menu "Nofrendo ESP32-specific configuration"


config HW_LCD_MISO_GPIO
	int "LCD MISO pin"
	range 1 35
	default 19

config HW_LCD_MOSI_GPIO
	int "LCD MOSI pin"
	range 1 35
	default 23

config HW_LCD_CLK_GPIO
	int "LCD CLK pin"
	range 1 35
	default 18

config HW_LCD_CS_GPIO
	int "LCD CS pin"
	range 1 35
	default 5

config HW_LCD_DC_GPIO
	int "LCD DC pin"
	range 1 35
	default 21

config HW_LCD_RESET_GPIO
	int "LCD RESET pin"
	range -1 35
	default -1

config HW_LCD_BL_GPIO
	int "LCD Backlight Enable pin"
	range 1 35
	default 14

config HW_LCD_SPI_CLOCK_RATE
	int "LCD SPI clock rate (Hz)"
	range 1 80000000
	default 40000000


config HW_INV_BL_CUST
	bool "Invert backlight output"
	default n

config HW_LCD_SWSCALER
	bool "Use software image scaling"
	default y

config SOUND_ENA
	bool "Analog audio on GPIO26"
	default n
	help
		ESP32 will output 0-3.3V analog audio signal on GPIO26.

endmenu
