name: ci

on:
  workflow_dispatch:      # Start a workflow
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Remove ~18 GiB of preinstalled software to have more disk space during the build
    - name: Cleanup runner
      run: |
        df -h
        sudo rm -rf /opt/microsoft /usr/local/.ghcup /usr/local/julia* /usr/share/dotnet /usr/share/swift /usr/lib/llvm*
        df -h

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build
      uses: docker/build-push-action@v6
      with:
        context: .
        tags: retro-go:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
        load: true

    - name: Extract binaries from docker image
      run: |
        docker run --rm -v $(pwd)/build:/build retro-go:latest sh -c "cp /app/*.fw /build"

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: binaries
        path: build/*.fw
